:root {
    --scrollbar-auto-track: var(--background-secondary);
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --button-secondary-background: var(--background-secondary);
    --button-secondary-background-active: var(--background-secondary);
    --button-secondary-background-hover: var(--background-secondary-alt);
    --input-background: var(--background-accent);
    --background-modifier-selected: var(--background-secondary-alt);
    --background-modifier-hover: var(--background-primary);
    --background-modifier-active: var(--background-tertiary);
    --brand-100: hsl(var(--brand-100-hsl)/1);
    --brand-100-hsl: 63 calc(var(--saturation-factor, 1)*77.8%) 100%;
    --brand-130-hsl: 59 calc(var(--saturation-factor, 1)*87.5%) 100%;
    --brand-160-hsl: 58 calc(var(--saturation-factor, 1)*84.6%) 100%;
    --brand-200-hsl: 59 calc(var(--saturation-factor, 1)*83.3%) 100%;
    --brand-230-hsl: 59 calc(var(--saturation-factor, 1)*87%) 100%;
    --brand-260-hsl: 58 calc(var(--saturation-factor, 1)*86.2%) 100%;
    --brand-300-hsl: 58 calc(var(--saturation-factor, 1)*86.1%) 100%;
    --brand-330-hsl: 58 calc(var(--saturation-factor, 1)*85.1%) 100%;
    --brand-345-hsl: 58 calc(var(--saturation-factor, 1)*85.2%) 100%;
    --brand-360-hsl: 58 calc(var(--saturation-factor, 1)*86.1%) 100%;
    --brand-400-hsl: 58 calc(var(--saturation-factor, 1)*86.1%) 100%;
    --brand-430-hsl: 58 calc(var(--saturation-factor, 1)*85.7%) 100%;
    --brand-460-hsl: 58 calc(var(--saturation-factor, 1)*85.5%) 94.9%;
    --brand-500-hsl: 58 calc(var(--saturation-factor, 1)*85.6%) 89%;
    --brand-530-hsl: 58 calc(var(--saturation-factor, 1)*66.7%) 83.1%;
    --brand-560-hsl: 58 calc(var(--saturation-factor, 1)*51.4%) 77.2%;
    --brand-600-hsl: 58 calc(var(--saturation-factor, 1)*46.7%) 71.3%;
    --brand-630-hsl: 58 calc(var(--saturation-factor, 1)*46.7%) 65.4%;
    --brand-660-hsl: 58 calc(var(--saturation-factor, 1)*47.1%) 59.5%;
    --brand-700-hsl: 58 calc(var(--saturation-factor, 1)*47%) 53.6%;
    --brand-730-hsl: 58 calc(var(--saturation-factor, 1)*46.8%) 47.7%;
    --brand-760-hsl: 57 calc(var(--saturation-factor, 1)*46.9%) 41.8%;
    --brand-800-hsl: 58 calc(var(--saturation-factor, 1)*47.5%) 35.9%;
    --brand-830-hsl: 58 calc(var(--saturation-factor, 1)*47.4%) 30%;
    --brand-860-hsl: 58 calc(var(--saturation-factor, 1)*46.9%) 24.1%;
    --brand-900-hsl: 56 calc(var(--saturation-factor, 1)*50%) 18.2%;
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
}
.theme-dark {
    --background-floating: #2f182a;
    --background-tertiary: #207578;
    --background-secondary-alt: #924b4e;
    --background-secondary: #7c3d3e;
    --background-primary: #443a31;
    --background-accent: #69594c;
    --channeltextarea-background: var(--background-accent);
}
.panels-3wFtMD .flex-2S1XBF > button {
    color: var(--header-primary) !important;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: var(--black-500) !important;
}
.colorBrand-2M3O3N:not(.lookBlank-FgPMy6),
.textBadge-1fdDPJ[style="background-color: var(--brand-500);"] {
    color: var(--black-500) !important;
    font-weight: 600;
}
.theme-dark .menu-2TXYjN .colorDefault-2_rLdz:not(.colorPremiumGradient-38tGFG) .check-3-73a4, .theme-dark .menu-2TXYjN .colorDefault-2_rLdz:not(.colorPremiumGradient-38tGFG).focused-3LIdPu {
    color: var(--bloack-500);
}
