:root {
    --scrollbar-auto-track: var(--background-secondary);
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --button-secondary-background: var(--background-secondary);
    --button-secondary-background-active: var(--background-secondary);
    --button-secondary-background-hover: var(--background-secondary-alt);
    --background-modifier-selected: var(--background-secondary-alt);
    --background-modifier-hover: var(--background-primary);
    --background-modifier-active: var(--background-tertiary);
    --brand-100-hsl: 230 45% 84%;
    --brand-130-hsl: 230 45% 84%;
    --brand-160-hsl: 230 45% 84%;
    --brand-200-hsl: 231 44% 74%;
    --brand-230-hsl: 231 44% 74%;
    --brand-260-hsl: 231 44% 74%;
    --brand-300-hsl: 231 44% 64%;
    --brand-330-hsl: 231 44% 64%;
    --brand-345-hsl: 231 44% 64%;
    --brand-360-hsl: 231 44% 64%;
    --brand-400-hsl: 231 44% 56%;
    --brand-430-hsl: 231 44% 56%;
    --brand-460-hsl: 231 44% 56%;
    --brand-500-hsl: 234 68% 33%;
    --brand-530-hsl: 231 48% 48%;
    --brand-560-hsl: 231 48% 48%;
    --brand-600-hsl: 231 51% 45%;
    --brand-630-hsl: 231 51% 45%;
    --brand-660-hsl: 231 51% 45%;
    --brand-700-hsl: 232 54% 42%;
    --brand-730-hsl: 232 54% 42%;
    --brand-760-hsl: 232 54% 42%;
    --brand-800-hsl: 233 59% 39%;
    --brand-830-hsl: 233 59% 39%;
    --brand-860-hsl: 233 59% 39%;
    --brand-900-hsl: 234 68% 33%;
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
}
.theme-dark {
    --background-floating: #2c2f4c;
    --background-tertiary: #1b278d;
    --background-secondary-alt: #3140a5;
    --background-secondary: #29379d;
    --background-primary: #394aae;
    --background-accent: #3140a5;
    --input-background: var(--background-accent);
    --channeltextarea-background: var(--background-accent);
}
.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    color: var(--header-primary);
}
.panels-3wFtMD .flex-2S1XBF > button {
    color: var(--header-primary) !important;
}
