:root {
    --channeltextarea-background: var(--background-accent);
    --scrollbar-auto-track: var(--background-secondary);
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --button-secondary-background: var(--background-secondary);
    --button-secondary-background-active: var(--background-secondary);
    --button-secondary-background-hover: var(--background-secondary-alt);
    --input-background: var(--background-accent);
    --background-modifier-selected: var(--background-secondary-alt);
    --background-modifier-hover: var(--background-primary);
    --background-modifier-active: var(--background-tertiary);
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
}
.theme-dark {
    --primary-800: #04070F;
    --primary-700: #080d1d;
    --primary-660: #121633;
    --primary-645: #171B3E;
    --primary-630: #1c1f48;
    --primary-600: #222456;
    --background-accent: #2f2f70;
}
.theme-light {
    --background-floating: #E6E8E9;
    --background-tertiary: #cdd1d3;
    --background-secondary-alt: #D8DBDC;
    --background-secondary: #e3e4e5;
    --background-primary: #ededed;
    --background-accent: #fefefe;
}
.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    color: var(--header-primary);
}
