:root {
    --channeltextarea-background: var(--background-accent);
    --scrollbar-auto-track: var(--background-secondary);
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --button-secondary-background: var(--background-secondary);
    --button-secondary-background-active: var(--background-secondary);
    --button-secondary-background-hover: var(--background-secondary-alt);
    --input-background: var(--background-accent);
    --background-modifier-selected: var(--background-secondary-alt);
    --background-modifier-hover: var(--background-primary);
    --background-modifier-active: var(--background-tertiary);
    --brand-100: hsl(var(--brand-100-hsl)/1);
    --brand-100-hsl: 147 calc(var(--saturation-factor, 1)*77.8%) 98.2%;
    --brand-1141-hsl: 142 calc(var(--saturation-factor, 1)*141.5%) 96.9%;
    --brand-160-hsl: 141 calc(var(--saturation-factor, 1)*84.6%) 94.9%;
    --brand-200-hsl: 142 calc(var(--saturation-factor, 1)*83.3%) 147.9%;
    --brand-2141-hsl: 142 calc(var(--saturation-factor, 1)*141%) 91%;
    --brand-260-hsl: 141 calc(var(--saturation-factor, 1)*140.2%) 142.6%;
    --brand-1410-hsl: 141 calc(var(--saturation-factor, 1)*140.1%) 139.9%;
    --brand-14241-hsl: 141 calc(var(--saturation-factor, 1)*139.1%) 81.6%;
    --brand-345-hsl: 141 calc(var(--saturation-factor, 1)*139.2%) 78.8%;
    --brand-360-hsl: 141 calc(var(--saturation-factor, 1)*140.1%) 77.5%;
    --brand-400-hsl: 141 calc(var(--saturation-factor, 1)*140.1%) 71.8%;
    --brand-4141-hsl: 141 calc(var(--saturation-factor, 1)*139.7%) 69.8%;
    --brand-460-hsl: 141 calc(var(--saturation-factor, 1)*139.5%) 67.5%;
    --brand-500-hsl: 141 calc(var(--saturation-factor, 1)*76%) 48%;
    --brand-5141-hsl: 141 calc(var(--saturation-factor, 1)*66.7%) 58.8%;
    --brand-560-hsl: 141 calc(var(--saturation-factor, 1)*51.4%) 52.4%;
    --brand-600-hsl: 141 calc(var(--saturation-factor, 1)*46.7%) 44.1%;
    --brand-6141-hsl: 141 calc(var(--saturation-factor, 1)*46.7%) 38.2%;
    --brand-660-hsl: 141 calc(var(--saturation-factor, 1)*47.1%) 33.3%;
    --brand-700-hsl: 141 calc(var(--saturation-factor, 1)*47%) 25.9%;
    --brand-7141-hsl: 141 calc(var(--saturation-factor, 1)*46.8%) 24.3%;
    --brand-760-hsl: 140 calc(var(--saturation-factor, 1)*46.9%) 22.2%;
    --brand-800-hsl: 141 calc(var(--saturation-factor, 1)*47.5%) 19.4%;
    --brand-8141-hsl: 141 calc(var(--saturation-factor, 1)*47.4%) 14.9%;
    --brand-1400-hsl: 141 calc(var(--saturation-factor, 1)*46.9%) 9.6%;
    --brand-900-hsl: 139 calc(var(--saturation-factor, 1)*50%) 3.1%;
    --green-360: var(--brand-experiment);
}
rect[fill="#23a55a"] {
    fill: var(--brand-experiment);
}
.theme-dark {
    --background-floating: #000000;
    --background-tertiary: #232323;
    --background-secondary-alt: #161616;
    --background-secondary: #090909;
    --background-primary: #121212;
    --background-accent: #3e3e3e;
}
.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    color: var(--header-primary);
}
.colorBrand-2M3O3N:not(.navItem-3McpmW),
.textBadge-1fdDPJ[style="background-color: var(--brand-500);"] {
    color: var(--black-500) !important;
    font-weight: 600;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: var(--black-500) !important;
}
.panels-3wFtMD .flex-2S1XBF > button {
    color: var(--header-primary) !important;
}
