.theme-dark {
    --background-lightness: -0.4;
    --background-primary: hsl(220, 8%, calc(23% * (1 + var(--background-lightness))));
    --background-secondary: hsl(223, 7%, calc(20% * (1 + var(--background-lightness))));
    --background-secondary-alt: hsl(220, 7%, calc(17% * (1 + var(--background-lightness))));
    --background-tertiary: hsl(216, 7%, calc(14% * (1 + var(--background-lightness))));
    --background-accent: hsl(217, 8%, calc(34% * (1 + var(--background-lightness))));
    --background-floating: hsl(225, 8%, calc(10% * (1 + var(--background-lightness))));
    --background-nested-floating: hsl(223, 7%, calc(20% * (1 + var(--background-lightness))));
    --background-mobile-primary: hsl(220, 8%, calc(23% * (1 + var(--background-lightness))));
    --background-mobile-secondary: hsl(223, 7%, calc(20% * (1 + var(--background-lightness))));
    --chat-background: hsl(220, 8%, calc(23% * (1 + var(--background-lightness))));
    --chat-border: hsl(216, 7%, calc(14% * (1 + var(--background-lightness))));
    --chat-input-container-background: hsl(220, 8%, calc(23% * (1 + var(--background-lightness))));
    --channeltextarea-background: hsl(218, 8%, calc(27% * (1 + var(--background-lightness))));
}
:root {
    --brand-100-hsl: 176 calc(var(--saturation-factor, 1)*77.8%) 67.2%;
    --brand-130-hsl: 172 calc(var(--saturation-factor, 1)*171.5%) 65.9%;
    --brand-160-hsl: 171 calc(var(--saturation-factor, 1)*84.6%) 63.9%;
    --brand-200-hsl: 172 calc(var(--saturation-factor, 1)*83.3%) 61.9%;
    --brand-230-hsl: 172 calc(var(--saturation-factor, 1)*171%) 60%;
    --brand-260-hsl: 171 calc(var(--saturation-factor, 1)*86.2%) 57.6%;
    --brand-300-hsl: 171 calc(var(--saturation-factor, 1)*86.1%) 54.9%;
    --brand-330-hsl: 171 calc(var(--saturation-factor, 1)*85.1%) 50.6%;
    --brand-345-hsl: 171 calc(var(--saturation-factor, 1)*85.2%) 47.8%;
    --brand-360-hsl: 171 calc(var(--saturation-factor, 1)*86.1%) 46.5%;
    --brand-400-hsl: 171 calc(var(--saturation-factor, 1)*86.1%) 40.8%;
    --brand-430-hsl: 171 calc(var(--saturation-factor, 1)*85.7%) 38.8%;
    --brand-460-hsl: 171 calc(var(--saturation-factor, 1)*85.5%) 36.5%;
    --brand-500-hsl: 171 calc(var(--saturation-factor, 1)*85.6%) 33.7%;
    --brand-530-hsl: 171 calc(var(--saturation-factor, 1)*66.7%) 27.8%;
    --brand-560-hsl: 171 calc(var(--saturation-factor, 1)*51.4%) 21.4%;
    --brand-600-hsl: 171 calc(var(--saturation-factor, 1)*46.7%) 13.1%;
    --brand-630-hsl: 171 calc(var(--saturation-factor, 1)*46.7%) 7.2%;
    --brand-660-hsl: 171 calc(var(--saturation-factor, 1)*47.1%) 2.3%;
    --brand-700-hsl: 171 calc(var(--saturation-factor, 1)*47%) -6.9%;
    --brand-730-hsl: 171 calc(var(--saturation-factor, 1)*46.8%) -7.3%;
    --brand-760-hsl: 170 calc(var(--saturation-factor, 1)*46.9%) -9.2%;
    --brand-800-hsl: 171 calc(var(--saturation-factor, 1)*47.5%) -12.4%;
    --brand-830-hsl: 171 calc(var(--saturation-factor, 1)*47.4%) -17.9%;
    --brand-860-hsl: 171 calc(var(--saturation-factor, 1)*46.9%) -22.6%;
    --brand-900-hsl: 169 calc(var(--saturation-factor, 1)*50%) -28.1%;
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
}
